.movieDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
}

.movieInfoContainer {
  display: flex;
  margin-bottom: 20px;
}
.movieContent {
  display: flex;
  align-items: flex-start;
}

.movieTitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.moviePoster {
  max-width: 300px;
  margin-bottom: 20px;
}

.filmData {
  margin-left: 20px;
}

.movieOverview {
  flex: 1;
  margin-left: 20px;
}

.viewLinksContainer {
  margin-top: 20px;
}

.viewLink {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.viewLink:last-child {
  margin-right: 0;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}

.linkGoBack {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  margin: 20px;
  height: 20px;
  width: 80px;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
}
.linkGoBack:hover {
  background-color: #0056b3;
}

.link {
  text-decoration: none;
  color: #fff;
}
