.btnGoBack {
  display: inline-block;
  background-color: #007bff;
  margin: 20px;
  height: 40px;
  width: 100px;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.btnGoBack:hover {
  background-color: #0056b3;
}
